AppleTimer/Connected Services/TimerService/TimerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61856/TimerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61856/TimerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61856/TimerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DbModels.Models" />
      <xsd:import schemaLocation="http://localhost:61856/TimerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimerServer_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_GetUserRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecords" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_GetUserRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecord" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecords" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_DeleteRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecords" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_DeleteRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_UpdateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecord" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_UpdateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_GetUserGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroups" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_GetUserGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroups" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_AddGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_DeleteGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroups" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_DeleteGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_UpdateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroup" />
  </wsdl:message>
  <wsdl:message name="ITimerServer_UpdateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimerServer">
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/UserExists" message="tns:ITimerServer_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/UserExistsResponse" message="tns:ITimerServer_UserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/GetUser" message="tns:ITimerServer_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/GetUserResponse" message="tns:ITimerServer_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/AddUser" message="tns:ITimerServer_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/AddUserResponse" message="tns:ITimerServer_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/UpdateUser" message="tns:ITimerServer_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/UpdateUserResponse" message="tns:ITimerServer_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/GetUserRecords" message="tns:ITimerServer_GetUserRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/GetUserRecordsResponse" message="tns:ITimerServer_GetUserRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/AddRecord" message="tns:ITimerServer_AddRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/AddRecordResponse" message="tns:ITimerServer_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/AddRecords" message="tns:ITimerServer_AddRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/AddRecordsResponse" message="tns:ITimerServer_AddRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/DeleteRecords" message="tns:ITimerServer_DeleteRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/DeleteRecordsResponse" message="tns:ITimerServer_DeleteRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/UpdateRecord" message="tns:ITimerServer_UpdateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/UpdateRecordResponse" message="tns:ITimerServer_UpdateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/GetUserGroups" message="tns:ITimerServer_GetUserGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/GetUserGroupsResponse" message="tns:ITimerServer_GetUserGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/AddGroup" message="tns:ITimerServer_AddGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/AddGroupResponse" message="tns:ITimerServer_AddGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/AddGroups" message="tns:ITimerServer_AddGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/AddGroupsResponse" message="tns:ITimerServer_AddGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/DeleteGroups" message="tns:ITimerServer_DeleteGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/DeleteGroupsResponse" message="tns:ITimerServer_DeleteGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimerServer/UpdateGroup" message="tns:ITimerServer_UpdateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimerServer/UpdateGroupResponse" message="tns:ITimerServer_UpdateGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimerServer" type="tns:ITimerServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecords">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/GetUserRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/AddRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecords">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/AddRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/DeleteRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecord">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/UpdateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/GetUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/AddGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroups">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/AddGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/DeleteGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="http://tempuri.org/ITimerServer/UpdateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimerService">
    <wsdl:port name="BasicHttpBinding_ITimerServer" binding="tns:BasicHttpBinding_ITimerServer">
      <soap:address location="http://localhost:61856/TimerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>